// Here you can add other styles

tbody tr.active {
  --cui-table-color-state: var(--cui-table-hover-color);
  --cui-table-bg-state: var(--cui-table-hover-bg);
}

.card .card-body .form-check.main_image_radio_label label {
  font-size: 13px;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: xx-large;
}